/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    
}

#container {
    position: relative;
    background-color: #51473D;
    width: 600px;
    border: solid #CECAB9 1px;
    
}

#topbar {
    position: relative;
    background-color: #51473D;
    display: inline-block;
    color: #EAE7D2;
    border: solid black 2px;
}

#menu {
    padding-top: 150px;
    padding-bottom: 77px;
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-color: #51473D;
}

#menu li a {
    margin-top: 38px;

    display: initial;
    float: left;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 19px; 
    background-color: #797066;
    border-top: solid #847C73 1px;
    border-left: solid #51473D 1px;
    text-decoration: none;
}

#menu li a:first-letter {
    text-transform: uppercase;
}

#menu a{
    display: none;
    background-color: #797066;
    color: #EAE7D2;
}

#content {
    background-color: #EAE7D2;
}

#maincontent {
    position: relative;
    display: inline-block;
    width: 360px;
}

#subcontent {
    position: relative;
    width: 231px;
    display: inline-block;
    
    border-left: dashed #C0C0C0 1px;
}

#bottomcontent {}

p, a, h1, h2 {
    color: #797066;
}

.active {
    color: black ;
    
}

ul {
    list-style-type: none;
}

#menu ul, li {
    background-color: #797066;
    color: #EAE7D2;
}


#subcontent ul, li, a {
    background-color: #EAE7D2;
    color: #797066;
}

#maincontent img {
    float: left;
}